{% extends 'app\base.html' %}

{% block content %}

    {% if post %}
        <h3>You searched for - {{post}}</h3>
    {% endif %}

    {% for category in categories %}
        <a href="{% url 'category-post' category.title %}">
            <small class="text-muted ml-2">{{category}}</small>
        </a>
    {% endfor %}

    {% for post in object_list %} <!-- 'object_list' for context name if not given-->
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{post.author.avatar.url}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-post' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted mr-5">{{ post.created_at|date:"l j, o" }}</small>
              <small class="text-muted ml-2">category:</small>
              {% for category in post.category.all %}
                    <small class="text-muted ml-2">{{ category }}</small>
              {% endfor %}
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncatechars:160 }}</p>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    {% endif %}


{% endblock %}