{% extends 'app\base.html' %}

{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{post.author.avatar.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-post' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.created_at|date:"l j, o" }}</small>
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        {% if post.author == user %}
          <div>
            <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{%url 'post-update' post.id%}">Update</a>
            <a class='btn btn-danger btn-sm mt-1 mb-1' href="{%url 'post-delete' post.id%}">Delete</a>
          </div>
        {% endif %}
      </div>
    </article>
{% endblock %}